# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
*.venv
Pipfile.lock

# Logs and database
logs/
*.log
*.sqlite
*.sqlite3
*.db
*.db-journal

# Build, dist, packaging
build/
dist/
*.egg-info/
*.spec

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.swp
*.swo
.DS_Store
Thumbs.db
